@{
    ViewBag.Title = "CreateGame";
}


<div class="image-select-container">
	<div>
		Select the image you want to guess
	</div>
	<div class="image-container">
	@{
		for (var i = 0; i < 4; i++)
		{
			<div class="guess-image">
				<img src="" />
				<div class="image-name">Image</div>
			</div>
		}
	}
		<div class="clear-both"></div>
	</div>
</div>


