@model Messi.ViewModels.ListCreateGameViewModel
@{
    ViewBag.Title = "CreateGame";
}

<h2>CreateGame</h2>


<div class="image-select-container">

    <div>
        Select the image you want to guess
    </div>

      <div class="image-container">

          @foreach (var createGameViewModel in Model.CreateGameViewModels)
          {
              
              <div class="guess-image">
                  <div>
                      
                      @Ajax.ActionLink(" ","ShowDefinition",new {id=createGameViewModel.ImageId},new AjaxOptions(){UpdateTargetId = "result",HttpMethod = "POST"},new { 
        style = "background: url('" + Url.Content(createGameViewModel.ImageUrl) + "') no-repeat center right; display:block; height:84px; width:264px;" 
    })
                      
                  </div>
                  <div>@createGameViewModel.Word</div>
              </div>
          }

          <div class="clear-both"></div>
      </div>
      <div id="result">
          
      </div>

</div>


