@*@{
    ViewBag.Title = "Listenrecord";
}

*@

@model Messi.ViewModels.CreateGameViewModel
<script src="AC_OETags.js" language="javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--
// -----------------------------------------------------------------------------
// Globals
// Major version of Flash required
var requiredMajorVersion = 10;
// Minor version of Flash required
var requiredMinorVersion = 2;
// Minor version of Flash required
var requiredRevision = 0;
// -----------------------------------------------------------------------------
// -->
</script>


<script language="JavaScript" type="text/javascript">
<!--
// Version check for the Flash Player that has the ability to start Player Product Install (6.0r65)
//var hasProductInstall = DetectFlashVer(6, 0, 65);

//// Version check based upon the values defined in globals
//var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);

//if ( hasProductInstall && !hasRequestedVersion ) {
//	// DO NOT MODIFY THE FOLLOWING FOUR LINES
//	// Location visited after installation is complete if installation is required
//	var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";
//	var MMredirectURL = window.location;
//    document.title = document.title.slice(0, 47) + " - Flash Player Installation";
//    var MMdoctitle = document.title;

//	AC_FL_RunContent(
//		"src", "playerProductInstall",
//		"FlashVars", "MMredirectURL="+MMredirectURL+'&MMplayerType='+MMPlayerType+'&MMdoctitle='+MMdoctitle+"",
//		"width", "150",
//		"height", "150",
//		"align", "middle",
//		"id", "Messi",
//		"quality", "high",
//		"bgcolor", "#869ca7",
//		"name", "Messi",
//		"allowScriptAccess","sameDomain",
//		"type", "application/x-shockwave-flash",
//		"pluginspage", "http://www.adobe.com/go/getflashplayer"
//	);
//} else if (hasRequestedVersion) {
//	// if we've detected an acceptable version
//	// embed the Flash Content SWF when all tests are passed
//	AC_FL_RunContent(
//			"src", "Messi",
//			"width", "150",
//			"height", "150",
//			"align", "middle",
//			"id", "Messi",
//			"quality", "high",
//			"bgcolor", "#869ca7",
//			"name", "Messi",
//			"allowScriptAccess","sameDomain",
//			"type", "application/x-shockwave-flash",
//			"pluginspage", "http://www.adobe.com/go/getflashplayer"
//	);
//  } else {  // flash is too old or we can't detect the plugin
//    var alternateContent = 'Alternate HTML content should be placed here. '
//  	+ 'This content requires the Adobe Flash Player. '
//   	+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
//    document.write(alternateContent);  // insert non-flash content
//  }
  
  function getTextForRec()
{
      //  	return document.getElementById("grammar").value;
      return "@Model.Definition";
  }

  function setRecResult(recResult)
  {
      //return document.getElementById("recResult").value = recResult;
      $("#recResult").text = recResult;
  }
// -->
</script>

<form method="POST" action="/Home/SaveData">
    <div>
        Listen, then record yourself saying the sentence.
    </div>

    <div class="record-section">
        <div class="record-button-container">
            <div style="text-align: center;">
                <embed width="150" height="150" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" allowscriptaccess="sameDomain" name="Messi" bgcolor="#869ca7" quality="high" id="Messi" src="Messi.swf">
            </div>
        </div>
        <div class="read-sentence">
            @Html.Label(Model.Definition)
        </div>
        <div class="clear-both"></div>
    </div>


    <div class="record-result-section">
        <div>
            Your recording:
        </div>
        <div class="record-result" id = "recResult">
            The disease may be most easily transmitted...
        </div>
        @Html.Hidden("recordresult", "The disease may be most easily transmitted...")
    </div>

    <div class="button-section">
        <input type="submit" value="Done" class="button" />
    </div>
</form>
