@*@{
    ViewBag.Title = "Listenrecord";
}

*@

@model Messi.ViewModels.CreateGameViewModel
<div>
	Listen, then record yourself saying the sentence.
</div>

<div class="record-section">
	<div class="record-button-container">
		<img src="~/images/button_record.png" />
		<div style="text-align: center;">
			Record
		</div>
	</div>
	<div class="read-sentence">
		@Html.Label(Model.Definition)
	</div>
	<div class="clear-both"></div>
</div>


<div class="record-result-section">
	<div>
		Your recording:
	</div>
	<div class="record-result">
		The disease may be most easily transmitted...
	</div>
</div>

<div class="button-section">
	<button>
		Done
	</button>
	<button>
		Play Another Game
	</button>
</div>

