@model Messi.ViewModels.CreateGameViewModel

<h2>title</h2>
<form action="/home/SaveData" method="POST">
    <input type="hidden" value="test"/>
    <input type="submit" onclick="form.submit()"/>
</form>