
<div class="info-bar">
	<div class="info-block">
		<div class="small-title">
			Rounds
		</div>
		<div class="round-number">
			19
		</div>
	</div>
	<div class="info-block" style="margin: 0 1px 0 1px;">
		<div class="small-title">
			Points earned if won
		</div>
		<div class="point-number">
			700pt
		</div>
	</div>
	<div class="info-block">
		<div class="small-title">
			Last 5 countries participated
		</div>
		<div class="flag-container">
			
			@{
				for (var i = 0; i < 5; i++)
				{

				}
			}



		</div>
	</div>
	<div class="clear-both"></div>
</div>


